<!DOCTYPE html>
<html lang="en" data-ng-app="phonecatApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Poogle : {{query}} </title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" href="machine.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script src="controler.js"></script>
	<script src="machine.js"></script>
  </head>
  <body data-ng-controller="PhoneListCtrl">
<div class="container-fluid pheader">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="hidden-xs hidden-sm hidden-md hidden-lg">
	        <div class="navbar-btn navbar-left btn-group">
		    <button type="button" id="btn-megamenu" class="btn btn-default"> 
                        <span class="glyphicon glyphicon-align-justify"></span>
                        <span class="nav-label">Menu</span>
                    </button>
                    <button type="button" id="btn-options" class="btn btn-default btn-options">
                        <span class="glyphicon glyphicon-cog"></span>
                        <span class="nav-label">Preferences</span>
                    </button>		
                </div>
                <div class="navbar-btn navbar-right btn-group">
                </div>
            </div>
            <form class="navbar-form">
                <div class="form-group" style="display:inline;">
                    <div class="input-group" style="display:table;">
                        <span class="input-group-btn btn-block" style="width:1%;">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" >
                                <span class="glyphicon glyphicon-search"></span>
                                <span class="nav-label">Pesquisar</span>
                                <span class="fa fa-caret-down"></span>
                            </button>
                            <ul id="search-option" class="dropdown-menu pull-left" role="menu">
                                <li>
                                    <a href="#" data-searchtype="search-user" data-placeholder="Enter User Name (first or last)">
                                        <span class="glyphicon glyphicon-user"></span>
                                        <span class="nav-label">Utilizador</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-searchtype="search-org" data-placeholder="Enter Organization Name">
                                        <span class="fa fa-building-o"></span>
                                        <span class="nav-label">Serviços</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-searchtype="search-kb" data-placeholder="Enter Search Terms">
                                        <span class="fa fa-book"></span>
                                        <span class="nav-label">Organização</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-searchtype="search-venue" data-placeholder="Enter Venue Name">
                                        <span class="fa fa-map-marker"></span>
                                        <span class="nav-label">Contacte-nos</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-searchtype="search-pl" data-placeholder="Enter Private Label">
                                        <span class="fa fa-ticket"></span>
                                        <span class="nav-label">Private Label</span>
                                    </a>
                                </li>
                            </ul>                  
                        </span>
                        <input id="search_string" class="form-control" name="search" data-ng-model="query" onsubmit="return igo();" placeholder="Search Here" autocomplete="off" autofocus="autofocus" type="text">
                        <div class="input-group-btn navbar-btn" style="outline:0px solid #7F9192; border-radius:6px;">
                            <button onclick="return igo();" class="btn btn-default btn-nav">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="container-fluid">
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 col-xs-offset-6 col-sm-offset-6 col-md-offset-6 col-lg-offset-6">
                <div class="pull-right">
<span class="glyphicon glyphicon-text-size" aria-hidden="true"></span>
                    <span onclick='isort_str_dsc("title");' class="glyphicon glyphicon-sort-by-alphabet-alt"                 aria-hidden="true"></span>
                    <span onclick='isort_str_asc("title");' class="glyphicon glyphicon-sort-by-alphabet"                     aria-hidden="true"></span>
                </div>
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                <div class="pull-right">
                    <span onclick='isort_str_dsc("date_n");' class="glyphicon glyphicon-sort-by-attributes gly-rotate-180"   aria-hidden="true"></span>
<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <span onclick='isort_str_asc("date_n");' class="glyphicon glyphicon-sort-by-attributes"                  aria-hidden="true"></span>
                </div>
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                <div class="pull-right">
                    <span onclick='isort_int_dsc("price_n");' class="glyphicon glyphicon-sort-by-attributes gly-rotate-180"   aria-hidden="true"></span>
<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                    <span onclick='isort_int_asc("price_n");' class="glyphicon glyphicon-sort-by-attributes"                  aria-hidden="true"></span>
                </div>
            </div>
            <div class="hidden-xs col-sm-1 col-md-1 col-lg-1">
                <div class="pull-right">
                    <span onclick='isort_int_dsc("price_o");' class="glyphicon glyphicon-sort-by-attributes gly-rotate-180"   aria-hidden="true"></span>
<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                    <span onclick='isort_int_asc("price_o");' class="glyphicon glyphicon-sort-by-attributes"                  aria-hidden="true"></span>
                </div>
            </div>
            <div class="hidden-xs col-sm-1 col-md-1 col-lg-1">
                <div class="pull-right">
                    <span onclick='isort_int_dsc("price_d");' class="glyphicon glyphicon-sort-by-attributes gly-rotate-180"   aria-hidden="true"></span>
<span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
                    <span onclick='isort_int_asc("price_d");' class="glyphicon glyphicon-sort-by-attributes"                  aria-hidden="true"></span>
                </div>
            </div>
            <div class="hidden-xs col-sm-1 col-md-1 col-lg-1">
                <div class="pull-right">
                    <span onclick='isort_int_dsc("price_p");' class="glyphicon glyphicon-sort-by-attributes gly-rotate-180"   aria-hidden="true"></span>
%
                    <span onclick='isort_int_asc("price_p");' class="glyphicon glyphicon-sort-by-attributes"                  aria-hidden="true"></span>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="pheader">
    <br/>
    <br/>
    <br/>
    <br/>
</div>

<div class="container-fluid">
    <table id="my_table" class="table table-striped">
         <tr data-ng-repeat="phone in phones | filter:query ">
             <td id="image"   class="col-xs-4  col-sm-2 col-md-2 col-lg-2 vcenter myfix"><a target="_blank" href="{{phone.url}}"><img data-ng-src="{{phone.img}}" alt="{{phone.title}}" class="img-thumbnail"/></a></td>
             <td id="title"   class="col-xs-6  col-sm-5 col-md-5 col-lg-5 vcenter myfix"><a target="_blank" href="{{phone.url}}">{{phone.title}}</a></td>
             <td id="date_n"  class="hidden-xs col-sm-1 col-md-1 col-lg-1 vcenter myfix mc2">{{ phone.date }}</td>
             <td id="price_n" class="col-xs-1  col-sm-1 col-md-1 col-lg-1 vcenter myfix    ">{{ phone.price_new | currency : "&euro;" : 2}}</td>
             <td id="price_o" class="hidden-xs col-sm-1 col-md-1 col-lg-1 vcenter myfix mc2">{{ phone.price_old | currency : "&euro;" : 2}}</td>
             <td id="price_d" class="hidden-xs col-sm-1 col-md-1 col-lg-1 vcenter myfix    ">{{ phone.price_new - phone.price_new | currency : "&euro;" : 2}}</td>
             <td id="price_p" class="hidden-xs col-sm-1 col-md-1 col-lg-1 vcenter myfix mc2">{{ 0 | currency : "&euro;" : 2}}</td>
         </tr>
    </table>
</div>

    <div id="footer">
        <div class="container">
            <p class="footer-block"></p>	
        </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  </body>
</html>
